<form action="/records" method="POST">
  <div class="form-group mb-3">
    <label>Date</label>
    <input type="date" name="date" class="form-control" id="date" value="{{{record.date}}}" required>
    <label>Category</label>
    <input type="text" placeholder="category" name="category" class="form-control" value="{{{record.category}}}"
      required>
    <label>Name</label>
    <input type="text" placeholder="name" name="name" class="form-control" value="{{{record.name}}}" required>
    <label>Amount</label>
    <input type="number" placeholder="amount" name="record" class="form-control" min="0" value="{{{record.amount}}}"
      required>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>